spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8089/realms/ecomweb
  data:
    mongodb:
      uri: mongodb://localhost:27017/shop-service?replicaSet=rs0
      database: shop-service

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  valid-duration: 3600 # in second
  refreshable-duration: 36000 # in seconds
server:
  port: 8083
  servlet:
    context-path: /shop
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus  # má»Ÿ endpoint prometheus
  endpoint:
    prometheus:
      access: unrestricted
  prometheus:
    metrics:
      export:
        enabled: true
